head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  title Khmelevskoy Sergey | Front-end developer
  meta(http-equiv="X-UA-Compatible" content="IE=Edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  meta(name="format-detection" content="telephone=no")
    
  // og tags
  meta(property='og:title', content='Sergey Khmelevskoy')
  meta(property='og:url', content='https://f-end.ru')
  meta(property='og:image', content='https://f-end.ru/images/og/og1200.jpg')
  meta(property='og:description', content='Front-end developer')
    
  //build:css css/style.min.css
  link(rel="stylesheet" href="css/normalize.css" type="text/css")
  link(rel="stylesheet" href="css/style.css" type="text/css")
  //endbuild
