head
  // MADE WITH LOVE BY <> SERGEY KHMELEVSKOY </>
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
  title Khmelevskoy Sergey | Front-end developer with UI design skills

  //build:css css/style.min.css
  link(rel="stylesheet" href="css/normalize.css" type="text/css")
  link(rel="stylesheet" href="css/style.css" type="text/css")
  //endbuild
