// Buttons

.btn
  font-size: 1.2rem
  border-radius: .4em
  padding: .8em 1.5em
  margin: 1em 1em 1em 0em
  text-transform: uppercase
  font-family: 'LatoWebBold'
  transition: box-shadow .4s ease-in-out
  &--hero
    background: white
    &:hover
      box-shadow: 0 0 3em rgba(255, 255, 255, .3)

  @media($tablet)
    font-size: 1rem
