doctype html
html
  include shared/head.pug

  body
    // Mobile hamburger
    .mobile-navi
      .mobile-navi__wrap
        button.hamburger.hamburger--spin(type="button")
          span.hamburger-box
          span.hamburger-inner

    //SIDEBAR::START
    .sidebar
      .sidebar__wrapper
        .sidebar__logo
          i.ico.ico-logo
        .sidebar__navigation
          a(href="#sectionAbout") 
            span About
          a(href="#sectionPortfolio") 
            span Portfolio
          a(href="#sectionContact") 
            span Contact
        .sidebar__socials
          a.tooltip(href="skype:khmelevskoysergey?chat" target="_blank")
            i.icon-skype
            .tooltip__wrapper
              .tooltip__inner
                span skype
          a.tooltip(href="http://telegram.me/khmelevskoy_s" target="_blank")
            i.icon-telegram
            .tooltip__wrapper
              .tooltip__inner
                span telegram
          a.tooltip(href="https://www.behance.net/mangodigital" target="_blank")
            i.icon-behance2
            .tooltip__wrapper
              .tooltip__inner
                span behance
          a.tooltip(href="https://github.com/dpmango" target="_blank")
            i.icon-github
            .tooltip__wrapper
              .tooltip__inner
                span github
    
    //CONTENT::START
    .content
      // HERO
      .hero
        // parallax elements
        .js-scene(data-invert-y="false")
          .layer(data-depth=".3")
            .hero__el.hero__el--triangle
          .layer(data-depth="0.15")
            .hero__el.hero__el--square.hero__el--square--second
          .layer(data-depth="0.05")
            .hero__el.hero__el--square2
          .layer(data-depth="0.07")
            .hero__el.hero__el--circle
          .layer(data-depth="0.10")
            .hero__el.hero__el--polygon
          .layer(data-depth="0.05")
            .hero__el.hero__el--square
          .layer(data-depth="0.05")
            .hero__el.hero__el--square2.hero__el--square2--second
          .layer(data-depth="0.03")
            .hero__el.hero__el--triangle.hero__el.hero__el--triangle--second
          .layer(data-depth="0.07")
            .hero__el.hero__el--circle.hero__el--circle--second
          .layer(data-depth="0.03")
            .hero__el.hero__el--triangle.hero__el.hero__el--triangle--third        
          .layer(data-depth="0.25")
            .hero__el.hero__el--circle.hero__el--circle--third
          .layer(data-depth="0.05")
            .hero__el.hero__el--square.hero__el--square--third
          .layer(data-depth="0.15")
            .hero__el.hero__el--polygon.hero__el--polygon--second
                          
        .hero__wrapper
          .hero__left
            .hero__name() Khmelevskoy Sergey
            .hero__title() UI/UX Designer <br> <span>front-end Developer<span>
            .hero__buttons
              a.btn.btn--hero(href="#sectionPortfolio") Portfolio
          .hero__right
            .hero__avatar
              img(src='images/avatar.jpg')
                  
      // About
      .about#sectionAbout
        .heading.parallax__heading
          .heading__back() all about web
          .heading__front() About
        .technologies
          .technologies__item.tooltip
            i.ico.ico-html
            .tooltip__wrapper
              .tooltip__inner
                span HTML
          .technologies__item.tooltip
            i.ico.ico-css
            .tooltip__wrapper
              .tooltip__inner
                span CSS
          .technologies__item.tooltip
            i.ico.ico-javascript
            .tooltip__wrapper
              .tooltip__inner
                span JavaScript
          .technologies__item.tooltip
            i.ico.ico-postcss
            .tooltip__wrapper
              .tooltip__inner
                span PostCss
          .technologies__item.tooltip
            i.ico.ico-sass
            .tooltip__wrapper
              .tooltip__inner
                span SASS
          .technologies__item.tooltip
            i.ico.ico-jquery
            .tooltip__wrapper
              .tooltip__inner
                span jQuery
          .technologies__item.tooltip
            i.ico.ico-git
            .tooltip__wrapper
              .tooltip__inner
                span Git
          .technologies__item.tooltip
            i.ico.ico-pug
            .tooltip__wrapper
              .tooltip__inner
                span Pug (Jade)
          .technologies__item.tooltip
            i.ico.ico-react
            .tooltip__wrapper
              .tooltip__inner
                span React.js
          .technologies__item.tooltip
            i.ico.ico-rails
            .tooltip__wrapper
              .tooltip__inner
                span Ruby on Rails
        // visuals
        .technologies
          .technologies__item.tooltip
            i.ico.ico-sketch
            .tooltip__wrapper
              .tooltip__inner
                span Sketch App
          .technologies__item.tooltip
            i.ico.ico-ps
            .tooltip__wrapper
              .tooltip__inner
                span Photoshop
          .technologies__item.tooltip
            i.ico.ico-illustator
            .tooltip__wrapper
              .tooltip__inner
                span Illustator
          .technologies__item.tooltip
            i.ico.ico-xd
            .tooltip__wrapper
              .tooltip__inner
                span Adobe Xd
        .about__text
          .about__text__paragraph
            .about__text__heading() Who am I ?
            .about__text__words() My name is Sergey. I'm UI/UX design and front-end development entrepreneur with 4 years of full-time experience under the belt. Originally from Moscow, Russia. Currently living in Vuokatti, Finland
          .about__text__paragraph
            .about__text__heading() What I do ?
            .about__text__words() I specialize in user-centered interaction design and responsive web. My goal is to help SME's and startups grow with a use of cutting-edge technologies and best practices. 

      // Portfolio
      .portfolio#sectionPortfolio
        .heading.heading--portfolio
          .heading__back() Stuff I do
          .heading__front() Portfolio
        ul.portfolio__navi
          li.portfolio__navi__link.active(data-filter="all")
            a(href="#") All
          li.portfolio__navi__link(data-filter="design")
            a(href="#") Design
          li.portfolio__navi__link(data-filter="code")
            a(href="#") Code
          li.portfolio__navi__link.portfolio__navi__link--language(data-filter-)
            a(href="#")
              i.ico.ico-en
              span EN
  
        .portfolio__list
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/draw.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Draw&Go 
              .portfolio__item__short Sketch to html project (currently developing)
              a.portfolio__item__link(href="http://dpmango.github.io/draw/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="all" data-language="en")
            img(src="images/portfolio/locumrocket.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name LocumRocket 
              .portfolio__item__short Prototyping, Design and front-end development for startup for freelance clinical work
              a.portfolio__item__link(href="http://locumrocket.com" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-en 
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/excellance.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Excellance 
              .portfolio__item__short Sketch to html e-commerce project for the premium cosmetics brand.
              a.portfolio__item__link(href="http://dpmango.github.io/excellance/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="all" data-language="en")
            img(src="images/portfolio/simplyswitch.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name SimplySwitch 
              .portfolio__item__short Redesign project for sales funnel. The prototype is interactive (click steps to process)
              a.portfolio__item__link(href="http://dpmango.github.io/simplyswitch/src/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-en 
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/tattoo.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Tattoo Mania
              .portfolio__item__short Frontend development from .sketch files for Moscow-based Tattoo saloon with 20yrs history
              a.portfolio__item__link(href="http://dpmango.github.io/tattoo/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="all" data-language="en")
            img(src="images/portfolio/laso.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Laso Health
              .portfolio__item__short Design and development - homepage + search results. Project is in process
              a.portfolio__item__link(href="http://dpmango.github.io/lasohealth/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/rocketbee.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Rocket Bee
              .portfolio__item__short Sketch to html Front-end development
              a.portfolio__item__link(href="https://dpmango.github.io/rocketbee/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/mpa.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Matt Porter Supplements
              .portfolio__item__short Landing page front-end development
              a.portfolio__item__link(href="http://dpmango.github.io/mpa" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="all" data-language="en")
            img(src="images/portfolio/bitfire.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name BitFire
              .portfolio__item__short Landing page Design and developemnt for the cloud mining platform 
              a.portfolio__item__link(href="https://dpmango.github.io/bitfire/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/sole.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Sole fitness
              .portfolio__item__short E-commerce project. Front-end development from .sketch assets
              a.portfolio__item__link(href="http://dpmango.github.io/sole" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/mebius.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Mebius - city quests
              .portfolio__item__short Front-end developement
              a.portfolio__item__link(href="http://dpmango.github.io/mebius" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/chat.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Chat app prototype
              .portfolio__item__short "Slack like" chat interactive prototype
              a.portfolio__item__link(href="https://dpmango.github.io/footprint-chat/dist/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="all" data-language="ru")
            img(src="images/portfolio/polis.png").img-responsive.logo-portfolio
            .portfolio__item__desc
              .portfolio__item__name POLIS812
              .portfolio__item__short Online insurance and tour operator website redesign
              a.portfolio__item__link(href="https://polis812.ru/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/messly.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Messly
              .portfolio__item__short Landing pages developement for the UK-based marketplace platform that connects doctors with staffing managers
              a.portfolio__item__link(href="https://www.mlocum.co.uk/doctors/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="design" data-language="ru")
            img(src="images/portfolio/zerno.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Zerno market
              .portfolio__item__short Marketpalce web-app design
              a.portfolio__item__link(href="https://www.behance.net/gallery/46973381/Web-app-design-Zernomarket" target="_blank")
                span() Check on behance
                i.icon-behance2
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/brightkite.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name BrightKite
              .portfolio__item__short Psd to html together with an erb templates integration on Ruby on Rails
              a.portfolio__item__link(href="https://brightkite.com" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="all" data-language="ru")
            img(src="images/portfolio/ats.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name ATS Group
              .portfolio__item__short Site from scratch for stainless steel trading company
              a.portfolio__item__link(href="http://ats77.ru/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="design" data-language="ru")
            img(src="images/portfolio/naty.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Naty
              .portfolio__item__short E-commerce website design
              a.portfolio__item__link(href="https://www.behance.net/gallery/46894267/Naty-E-commerce-webdesign" target="_blank")
                span() Check on behance
                i.icon-behance2
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/doctor.png").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Doctor Frank
              .portfolio__item__short Corporate site for a chain of medical clinics in Moscow
              a.portfolio__item__link(href="http://dpmango.github.io/doctor-frank/dist/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru

      // Contact
      .contact#sectionContact
        .contact__top
          <svg viewBox="0 0 3387 1270">
            <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179" />
            <g id="plane">
              <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
              <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 " />
              <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
              <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
              <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
            </g>
            <animateMotion xlink:href="#plane" dur="5s" repeatCount="indefinite" rotate="auto">
              <mpath xlink:href="#planePath" />
            </animateMotion>
          </svg>

          .heading.heading--contact
            .heading__back() Drop me a line
          
        .contact__wrapper
          .contact__direct
            a.contact__direct__item(href="skype:khmelevskoysergey?chat" target="_blank")
              i.icon.icon-skype
              span khmelevskoysergey
            a.contact__direct__item(href="http://telegram.me/khmelevskoy_s" target="_blank")
              i.icon.icon-telegram
              span khmelevskoy_s
            a.contact__direct__item(href="mailto:sergey@f-end.ru" target="_blank")
              i.icon.icon-mail4
              span sergey@f-end.ru
            a.contact__direct__item(href="tel:+358466461777" target="_blank")
              i.icon.icon-phone-square
              span() +358 (46) 6461777



      // Footer
      .footer
        .footer__copy
          | © Sergey Khmelevskoy. <span>2.3.0</span>
        .footer__credentials
          i.ico.ico-available
          | Currently availalbe
      
      // Banner
      a(href='https://www.upwork.com/fl/sergeykhmelevskoy' target='_blank').banner
        i.ico.ico-upwork
        span TOP RATED
              

    //build:js js/main.min.js
    script(src="/js/lib/jquery-3.1.1.min.js")
    script(src="/js/lib/parallax.min.js")
    script(src="/js/main.js")
    //endbuild

    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter39188055 = new Ya.Metrika({
      id:39188055,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/39188055', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
