doctype html
html
  include shared/head.pug

  body

    .h100
      // Mobile hamburger
      .mobile-navi
        .mobile-navi__wrap
          button.hamburger.hamburger--spin(type="button")
            span.hamburger-box
            span.hamburger-inner

      //SIDEBAR::START
      section.sidebar
        .sidebar__wrapper
          //.sidebar__image.rounded
            img(src="https://spb.hh.ru/photo/473026051.jpeg?t=1482355985&h=kuztcNaQepX-VJO52qpGvQ").img-responsive
          .sidebar__name SK
          .sidebar__navigation
            a(href="#sectionAbout" lang="en") About
            a(href="#sectionPortfolio" lang="en") Projects
            a(href="#sectionCalculator" lang="en") Prices
            a(href="#sectionContact" lang="en") Contact
          .sidebar__socials
            a.tooltip(href="skype:khmelevskoysergey?chat" target="_blank")
              i.icon-skype
              .tooltip__wrapper
                .tooltip__inner
                  span skype
            a.tooltip(href="http://telegram.me/khmelevskoy_s" target="_blank")
              i.icon-telegram
              .tooltip__wrapper
                .tooltip__inner
                  span telegram
            a.tooltip(href="https://www.behance.net/mangodigital" target="_blank")
              i.icon-behance2
              .tooltip__wrapper
                .tooltip__inner
                  span behance
            a.tooltip(href="https://github.com/dpmango" target="_blank")
              i.icon-github
              .tooltip__wrapper
                .tooltip__inner
                  span github
          //.sidebar__lang.en
            a.tooltip.tooltip--language(href="#")
              i.icon.icon-language
              .tooltip__wrapper
                .tooltip__inner
                  span(lang="en") Сменить язык
      //CONTENT::START
      section.content
        .hero
          .hero__name(lang="en") Sergey Khmelevskoy
          .hero__title(lang="en") UI/UX Designer <br> <span>front-end Developer<span>
          .hero__subtitle
          .hero__buttons
            a.btn.btn--hero(href="#sectionPortfolio" lang="en") Watch portfolio
            a.btn.btn--hero(href="#sectionCalculator" lang="en") Estimate project
        // About
        .about#sectionAbout
          .heading.parallax__heading
            .heading__back(lang="en") all about web
            .heading__front(lang="en") About
          .technologies
            .technologies__item.tooltip
              i.ico.ico-html
              .tooltip__wrapper
                .tooltip__inner
                  span HTML
            .technologies__item.tooltip
              i.ico.ico-css
              .tooltip__wrapper
                .tooltip__inner
                  span CSS
            .technologies__item.tooltip
              i.ico.ico-javascript
              .tooltip__wrapper
                .tooltip__inner
                  span JavaScript
            .technologies__item.tooltip
              i.ico.ico-postcss
              .tooltip__wrapper
                .tooltip__inner
                  span PostCss
            .technologies__item.tooltip
              i.ico.ico-sass
              .tooltip__wrapper
                .tooltip__inner
                  span SASS
            .technologies__item.tooltip
              i.ico.ico-jquery
              .tooltip__wrapper
                .tooltip__inner
                  span jQuery
            //- .technologies__item
            //-   i.ico.ico-npm
            //- .technologies__item
            //-   i.ico.ico-bower
            //- .technologies__item
            //-   i.ico.ico-gulp
            .technologies__item.tooltip
              i.ico.ico-git
              .tooltip__wrapper
                .tooltip__inner
                  span Git
            .technologies__item.tooltip
              i.ico.ico-pug
              .tooltip__wrapper
                .tooltip__inner
                  span Pug (Jade)
            .technologies__item.tooltip
              i.ico.ico-react
              .tooltip__wrapper
                .tooltip__inner
                  span React.js
            .technologies__item.tooltip
              i.ico.ico-rails
              .tooltip__wrapper
                .tooltip__inner
                  span Ruby on Rails
          // visuals
          .technologies
            .technologies__item.tooltip
              i.ico.ico-sketch
              .tooltip__wrapper
                .tooltip__inner
                  span Sketch App
            .technologies__item.tooltip
              i.ico.ico-ps
              .tooltip__wrapper
                .tooltip__inner
                  span Photoshop
            .technologies__item.tooltip
              i.ico.ico-illustator
              .tooltip__wrapper
                .tooltip__inner
                  span Illustator
            .technologies__item.tooltip
              i.ico.ico-xd
              .tooltip__wrapper
                .tooltip__inner
                  span Adobe Xd
          .about__text
            .about__text__paragraph
              .about__text__heading(lang="en") Who am I ?
              .about__text__words(lang="en") My name is Sergey. I do web-design and front-end development over the past 4 years.
            .about__text__paragraph
              .about__text__heading(lang="en") What I do ?
              .about__text__words(lang="en") I love to work on cool projects and help SME's to grow with an use of modern technologies and best practices.

        // Portfolio
        .portfolio#sectionPortfolio
          .heading.heading--portfolio
            .heading__back(lang="en") Stuff I do
            .heading__front(lang="en") Portfolio
          ul.portfolio__navi
            li.portfolio__navi__link.active(data-filter="all")
              a(href="#" lang="en") All
            li.portfolio__navi__link(data-filter="design")
              a(href="#" lang="en") Design
            li.portfolio__navi__link(data-filter="code")
              a(href="#" lang="en") Code
          .portfolio__list
            .portfolio__item(data-category="code")
              img(src="images/portfolio/sole.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Sole fitness
                .portfolio__item__short E-commerce project. Front-end development from .sketch assets
                a.portfolio__item__link(href="http://dpmango.github.io/sole" target="_blank")
                  span(lang="en") Check live
                  i.icon-github
            .portfolio__item(data-category="code")
              img(src="images/portfolio/cinc.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name CINC Landing
                .portfolio__item__short ROI Calculator tool for the landing page with fancy animations
                a.portfolio__item__link(href="http://go.commissionsinc.com/calculate-your-profit" target="_blank")
                  span(lang="en") Check live
                  i.icon-link-external
            .portfolio__item(data-category="code")
              img(src="images/portfolio/hamleys.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Hamleys
                .portfolio__item__short Simple landing page coding for new year promo with mVideo
                a.portfolio__item__link(href="http://mvideo.hamleys.ru" target="_blank")
                  span(lang="en") Check live
                  i.icon-link-external

            .portfolio__item(data-category="code")
              img(src="images/portfolio/doctor.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Doctor Frank
                .portfolio__item__short Corporate site for a chain of medical clinics in Moscow
                a.portfolio__item__link(href="http://dpmango.github.io/doctor-frank/dist/" target="_blank")
                  span(lang="en") Check live
                  i.icon-github

            .portfolio__item(data-category="code")
              img(src="images/portfolio/delivery.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Delivery City
                .portfolio__item__short Fixing flexbox issues, crossbrowser support, performance and layout problems
                a.portfolio__item__link(href="https://dpmango.github.io/delivery-city/src/" target="_blank")
                  span(lang="en") Check live
                  i.icon-github

            .portfolio__item(data-category="code")
              img(src="images/portfolio/crm.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name CRM
                .portfolio__item__short Nice and simple CRM base on material framework
                a.portfolio__item__link(href="http://dpmango.github.io/crm/dist/" target="_blank")
                  span(lang="en") Check live
                  i.icon-github

            .portfolio__item(data-category="code")
              img(src="images/portfolio/essay.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Roowrite
                .portfolio__item__short Extended landing page type of site with order features and A/B testing
                a.portfolio__item__link(href="http://f-end.ru/demo/0716-roowrite/" target="_blank")
                  span(lang="en") Check live
                  i.icon-github

            .portfolio__item(data-category="all")
              img(src="images/portfolio/polis.png").img-responsive.logo-portfolio
              .portfolio__item__desc
                .portfolio__item__name POLIS812
                .portfolio__item__short Online insurance and tour operator website redesign
                a.portfolio__item__link(href="https://polis812.ru/" target="_blank")
                  span(lang="en") Check live
                  i.icon-link-external

            .portfolio__item(data-category="code")
              img(src="images/portfolio/brightkite.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name BrightKite
                .portfolio__item__short Psd to html together with an erb templates integration on Ruby on Rails
                a.portfolio__item__link(href="https://brightkite.com" target="_blank")
                  span(lang="en") Check live
                  i.icon-link-external

            .portfolio__item(data-category="all")
              img(src="images/portfolio/ats.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name ATS Group
                .portfolio__item__short Site from scratch for stainless steel trading company
                a.portfolio__item__link(href="http://ats77.ru/" target="_blank")
                  span(lang="en") Check live
                  i.icon-link-external

            .portfolio__item(data-category="code")
              img(src="images/portfolio/domishka.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Domishka
                .portfolio__item__short Just psd to html :) It's here because the UI is nice
                a.portfolio__item__link(href="http://f-end.ru/demo/0416-domishko/" target="_blank")
                  span(lang="en") Check live
                  i.icon-github

            .portfolio__item(data-category="all")
              img(src="images/portfolio/kopter.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name KvadrKopters
                .portfolio__item__short E-commerce website design and code
                a.portfolio__item__link(href="https://www.behance.net/gallery/46760989/KvadroKopters-drone-ecommerce/" target="_blank")
                  span(lang="en") Check on behance
                  i.icon-behance2

            .portfolio__item(data-category="design")
              img(src="images/portfolio/naty.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Naty
                .portfolio__item__short E-commerce website design
                a.portfolio__item__link(href="https://www.behance.net/gallery/46894267/Naty-E-commerce-webdesign" target="_blank")
                  span(lang="en") Check on behance
                  i.icon-behance2

            .portfolio__item(data-category="code")
              img(src="images/portfolio/nazarbaev.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name President library
                .portfolio__item__short National library of Kazahstan on behalf of Nursultan Nazarbayev
                a.portfolio__item__link(href="http://f-end.ru/demo/0816-libkz/" target="_blank")
                  span(lang="en") Check live
                  i.icon-github

            .portfolio__item(data-category="code")
              img(src="images/portfolio/citysakh.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name City Sakh
                .portfolio__item__short One of the leading media portal of City Sakhalin html/css coding
                a.portfolio__item__link(href="https://citysakh.ru" target="_blank")
                  span(lang="en") Check live
                  i.icon-link-external

            .portfolio__item(data-category="all")
              img(src="images/portfolio/kc-spb.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Communal Service
                .portfolio__item__short Site from scratch on MODX
                a.portfolio__item__link(href="http://kc-spb.ru/" target="_blank")
                  span(lang="en") Check live
                  i.icon-link-external

            .portfolio__item(data-category="design")
              img(src="images/portfolio/zerno.png").img-responsive
              .portfolio__item__desc
                .portfolio__item__name Zerno market
                .portfolio__item__short Marketpalce web-app design
                a.portfolio__item__link(href="https://www.behance.net/gallery/46973381/Web-app-design-Zernomarket" target="_blank")
                  span(lang="en") Check on behance
                  i.icon-behance2

        // Calculator
        .calculator#sectionCalculator
          .heading.heading--calculator
            .heading__back(lang="en") Estimate project
            .heading__front(lang="en") Online cost estimator
          //.calculator__short If you have an intersting project, you can estimate the costs

          form.calculator__form
            .calculator__form__group.calculator__form__group--forStep1.is-active
              .calculator__form__heading
                .calculator__form__heading__num 1
                span(lang="en") What services do you need ?
              .ac-custom.ac-checkbox.ac-checkmark.ac--four-items(autocomplete="off")
                ul
                  li
                    input#stage1(name="stage" type="checkbox")
                    label(for="stage1" lang="en") Ideas / Prototyping
                  li
                    input#stage2(name="stage" type="checkbox")
                    label(for="stage2" lang="en") UI/UX Design
                  li
                    input#stage3(name="stage" type="checkbox")
                    label(for="stage3" lang="en") Front-end development

            .calculator__form__group.calculator__form__group--forStep2
              .calculator__form__heading
                .calculator__form__heading__num 2
                span(lang="en") What kind of project do you have ?
              .ac-custom.ac-radio.ac-fill.ac--four-items(autocomplete="off")
                ul
                  li
                    input#projectType1(name="projectType" type="radio")
                    label(for="projectType1" lang="en") Corporate
                  li
                    input#projectType2(name="projectType" type="radio")
                    label(for="projectType2" lang="en") Landing
                  li
                    input#projectType3(name="projectType" type="radio")
                    label(for="projectType3" lang="en") E-commerce
                  li
                    input#projectType4(name="projectType" type="radio")
                    label(for="projectType4" lang="en") Web-app

            .calculator__form__group.calculator__form__group--forStep3
              .calculator__form__heading
                .calculator__form__heading__num 3
                span(lang="en") How many pages have to be made ?
              .calculator__form__range
                input(type="range" id="calcPages" min="1" max="21" value="5")
                span.rangeslider__tooltip#range-tooltip

            .calculator__form__group.calculator__form__group--forStep4
              .calculator__form__heading
                .calculator__form__heading__num 4
                span(lang="en") What kind of features you would like to have ?
              .ac-custom.ac-checkbox.ac-checkmark.ac--four-items(autocomplete="off")
                ul
                  li.featureFirst
                    input#features1(name="features" type="checkbox")
                    label(for="features1" lang="en") Responsive
                  li.featureSecond
                    input#features2(name="features" type="checkbox")
                    label(for="features2" lang="en") React.js based
                  li.featureThird
                    input#features3(name="features" type="checkbox")
                    label(for="features3" lang="en") MODX admin
                  li.featureForth
                    input#features4(name="features" type="checkbox")
                    label(for="features4" lang="en") Complex javascript UI
                  li.featureFifth
                    input#features5(name="features" type="checkbox")
                    label(for="features5" lang="en") Mobile first design

            .calculator__form__price
              hr
              .calculator__form__price__heading(lang="en") This project is about
              .calculator__form__price__result(lang="en") <span>0</span> h
              .calculator__form__price__base(lang="en") (20$/h)

        // Contact
        .contact#sectionContact
          <svg viewBox="0 0 3387 1270">
            <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179" />
            <g id="plane">
              <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
              <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 " />
              <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
              <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
              <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
            </g>
            <animateMotion xlink:href="#plane" dur="5s" repeatCount="indefinite" rotate="auto">
              <mpath xlink:href="#planePath" />
            </animateMotion>
          </svg>

          .heading.heading--contact
            .heading__back(lang="en") Drop me a line
            //- .heading__front Contact

          .contact__wrapper

            form.contact__form(action="contact.php" method="POST")
              .contact__form__field.contact__form__field--first.active
                textarea.autoExpand(rows='4' data-min-rows='4' name="message" placeholder="Write about any projects or thoughts here ..." lang="en")
                .contact__form__textarea-validation(lang="en") Hey! Please type an message (min. 10 symbols)

              .contact__form__field.contact__form__field--second
                span.input.input--kuro
                  input.input__field.input__field--kuro(type="email" name="email" id="input-16")
                  label.input__label.input__label--kuro(for="input-16")
                    span.input__label-content.input__label-content--kuro(lang="en") Your email

              .contact__form__field
                a.contact__form__back(href="#" lang="en") back
                button.btn.btn--contact.validateTextarea(type="submit" lang="en") NEXT

            .contact__direct
              a.contact__direct__item(href="skype:khmelevskoysergey?chat" target="_blank")
                i.icon.icon-skype
                span khmelevskoysergey
              a.contact__direct__item(href="http://telegram.me/khmelevskoy_s" target="_blank")
                i.icon.icon-telegram
                span khmelevskoy_s
              a.contact__direct__item(href="mailto:sergey@f-end.ru" target="_blank")
                i.icon.icon-mail4
                span sergey@f-end.ru
              a.contact__direct__item(href="tel:+358466461777" target="_blank")
                i.icon.icon-phone-square
                span(lang="en") +358 (46) 6461777



        // Footer
        .footer
          .footer__copy
            | © 2014-2017 Sergey Khmelevskoy. v. 2.0.5
          .footer__credentials
            //- .footer__heading Inspired and used
            a(href="http://codepen.io/FabioG/pen/MaZpJp" target="_blank") © plane animation by Fabio

    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter39188055 = new Ya.Metrika({
      id:39188055,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/39188055', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
