doctype html
html
  include shared/head.pug

  body
    // Mobile hamburger
    .mobile-navi
      .mobile-navi__wrap
        button.hamburger.hamburger--spin(type="button")
          span.hamburger-box
          span.hamburger-inner

    //SIDEBAR::START
    .sidebar
      .sidebar__wrapper(js-scrollbar)
        .sidebar__logo
          i.ico.ico-logo
        .sidebar__navigation
          a(href="#sectionAbout") 
            span About
          a(href="#sectionPortfolio") 
            span Portfolio
          a(href="#sectionContact") 
            span Contact
        .sidebar__socials
          a.tooltip(href="skype:khmelevskoysergey?chat" target="_blank")
            i.icon-skype
            .tooltip__wrapper
              .tooltip__inner
                span skype
          a.tooltip(href="https://telegram.me/khmelevskoy_s" target="_blank")
            i.icon-telegram
            .tooltip__wrapper
              .tooltip__inner
                span telegram
          a.tooltip(href="mailto:sergey@khmelevskoy.co" target="_blank")
            i.icon-mail4
            .tooltip__wrapper
              .tooltip__inner
                span email
          a.tooltip(href="https://github.com/dpmango" target="_blank")
            i.icon-github
            .tooltip__wrapper
              .tooltip__inner
                span github
    
    //CONTENT::START
    .content
      // HERO
      .hero
        // parallax elements
        .js-scene(data-invert-y="false")
          .layer(data-depth=".3")
            .hero__el.hero__el--triangle
          .layer(data-depth="0.15")
            .hero__el.hero__el--square.hero__el--square--second
          .layer(data-depth="0.05")
            .hero__el.hero__el--square2
          .layer(data-depth="0.07")
            .hero__el.hero__el--circle
          .layer(data-depth="0.10")
            .hero__el.hero__el--polygon
          .layer(data-depth="0.05")
            .hero__el.hero__el--square
          .layer(data-depth="0.05")
            .hero__el.hero__el--square2.hero__el--square2--second
          .layer(data-depth="0.03")
            .hero__el.hero__el--triangle.hero__el.hero__el--triangle--second
          .layer(data-depth="0.07")
            .hero__el.hero__el--circle.hero__el--circle--second
          .layer(data-depth="0.03")
            .hero__el.hero__el--triangle.hero__el.hero__el--triangle--third        
          .layer(data-depth="0.25")
            .hero__el.hero__el--circle.hero__el--circle--third
          .layer(data-depth="0.05")
            .hero__el.hero__el--square.hero__el--square--third
          .layer(data-depth="0.15")
            .hero__el.hero__el--polygon.hero__el--polygon--second
                          
        .hero__wrapper
          .hero__left
            .hero__name() Khmelevskoy Sergey
            .hero__title() HTML/CSS/JS Expert <br> <span>React.js Front-end Developer<span>
            .hero__buttons
              a.btn.btn--hero(href="#sectionPortfolio") Portfolio
          .hero__right
            .hero__avatar
              img(src='images/avatar.jpg')
                  
      // About
      .about#sectionAbout
        .heading.parallax__heading
          .heading__back() all about web
          .heading__front() About
        .technologies
          .technologies__item.tooltip
            i.ico.ico-html
            .tooltip__wrapper
              .tooltip__inner
                span HTML
          .technologies__item.tooltip
            i.ico.ico-css
            .tooltip__wrapper
              .tooltip__inner
                span CSS
          .technologies__item.tooltip
            i.ico.ico-javascript
            .tooltip__wrapper
              .tooltip__inner
                span JavaScript
          .technologies__item.tooltip
            i.ico.ico-postcss
            .tooltip__wrapper
              .tooltip__inner
                span PostCss
          .technologies__item.tooltip
            i.ico.ico-sass
            .tooltip__wrapper
              .tooltip__inner
                span SASS
          .technologies__item.tooltip
            i.ico.ico-jquery
            .tooltip__wrapper
              .tooltip__inner
                span jQuery
          .technologies__item.tooltip
            i.ico.ico-git
            .tooltip__wrapper
              .tooltip__inner
                span Git
          .technologies__item.tooltip
            i.ico.ico-pug
            .tooltip__wrapper
              .tooltip__inner
                span Pug (Jade)
          .technologies__item.tooltip
            i.ico.ico-react
            .tooltip__wrapper
              .tooltip__inner
                span React.js
          .technologies__item.tooltip
            i.ico.ico-rails
            .tooltip__wrapper
              .tooltip__inner
                span Ruby on Rails
        // visuals
        .technologies
          .technologies__item.tooltip
            i.ico.ico-sketch
            .tooltip__wrapper
              .tooltip__inner
                span Sketch App
          .technologies__item.tooltip
            i.ico.ico-ps
            .tooltip__wrapper
              .tooltip__inner
                span Photoshop
          .technologies__item.tooltip
            i.ico.ico-illustator
            .tooltip__wrapper
              .tooltip__inner
                span Illustator
          .technologies__item.tooltip
            i.ico.ico-xd
            .tooltip__wrapper
              .tooltip__inner
                span Adobe Xd
        
        .about__text
          .about__text-paragraph
            .about__text-heading() Who am I ?
            .about__text-words() My name is Sergey. I'm award-winning front-end development entrepreneur with 6 years of full-time experience under the belt. <br/>Located in Moscow, Russia
          .about__text-paragraph
            .about__text-heading() What I do ?
            .about__text-words() I specialize in user-centered front-end development and responsive web. <br/>My goal is to help SME's and startups grow with a use of cutting-edge technologies and best practices. 

      // Portfolio
      .portfolio#sectionPortfolio
        .heading.heading--portfolio
          .heading__back() Stuff I do
          .heading__front() Portfolio
        ul.portfolio__navi
          li.portfolio__navi__link.active(data-filter="all")
            a(href="#") All
          //- li.portfolio__navi__link(data-filter="code")
          //-   a(href="#") HTML/CSS
          li.portfolio__navi__link(data-filter="react")
            a(href="#") React
          li.portfolio__navi__link.portfolio__navi__link--language(data-filter-lang='en')
            a(href="#")
              i.ico.ico-en
              span EN

        .portfolio__list
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/runet_25.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name 25 years of runet
              .portfolio__item__short Special site in honor of 25 years since "runet" (.ru domain) was founded in 1994
              a.portfolio__item__link(href="https://runet25.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/rko.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name RKO
              .portfolio__item__short Front-end development for a special material in e-journal Kto?Chto?Gde?
              a.portfolio__item__link(href="http://kcg-rko.surge.sh/homepage.html" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/hermle.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Hermle
              .portfolio__item__short Front-end development for Hermle e-commerce of luxary watch
              a.portfolio__item__link(href="https://hermle.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/futurecom.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name futurecommerce
              .portfolio__item__short Front-end development for mail.ru group landing (special event)
              a.portfolio__item__link(href="https://mrgfuturecommerce.ru/ru" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="all" data-language="en")
            img(src="images/portfolio/dragons.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Dragons
              .portfolio__item__short Front-end development Dragons rugby
              a.portfolio__item__link(href="https://dragons-team.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="all" data-language="en")
            img(src="images/portfolio/cabin.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Cabin
              .portfolio__item__short Front-end development on React.js. Main landing pages, intranet and admin resources. Rails backend API development
              a.portfolio__item__link(href="https://cabin.com.sg" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/axur.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Axur
              .portfolio__item__short Front-end development for digital intelligence & treats discovery system company based in Brazil. Lottie web json animations
              a.portfolio__item__link(href="https://axur.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/cosound.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Cosound
              .portfolio__item__short Front-end development of music industry network startup and ITO landing. Include works with HTML5 video/audio API
              a.portfolio__item__link(href="https://cosound.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="all" data-language="ru")
            img(src="images/portfolio/visions.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Hd-visions
              .portfolio__item__short Infinite multidirectional grid on canvas and React.js. Rails backend API development. Non-commercial project of Authentica
              a.portfolio__item__link(href="http://hd-visions.ru" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/abank.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Alfa-bank
              .portfolio__item__short Landing page front-end development for TOP 5 bank in Russia.
              a.portfolio__item__link(href="https://abank-vc.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/nmh.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name New moscow house
              .portfolio__item__short Front-end development of real estate agency site. Lot's of jQuery plugins, smooth transitions, and styled print version
              a.portfolio__item__link(href="https://nmh.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/mice.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Mice&More
              .portfolio__item__short Figma to html. Urgent timings (6 days turnaround). The homepage was picked up from another developer and fixed
              a.portfolio__item__link(href="https://mice.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru    
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/sarex.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Sarex
              .portfolio__item__short Landing page front-end development with scroll navigation listener
              a.portfolio__item__link(href="https://sarex.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/tokio.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Tokio sushi
              .portfolio__item__short Figma to html - restaurant wine card menu guide. Development to be used on in-house tablets
              a.portfolio__item__link(href="https://tokio-ipad.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/sancom.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name SANCOM
              .portfolio__item__short Sketch to html with parallax animations. Awarded with Special Kudos on CSSDA. Designed by PINKMAN
              a.portfolio__item__link(href="https://sancom.co" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-en
          
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/fruto.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Fruto
              .portfolio__item__short Developed for integration with mom.life mobile app. "Fruto nanny" is a leading manufacturer of baby food on the Russian market
              a.portfolio__item__link(href="https://fruto.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru    
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/avalon.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Avalon
              .portfolio__item__short E-commerce sketch to HTML with a bunch of complex javascript functionality. Potential website ratings nominee. Designed by GLYF
              a.portfolio__item__link(href="https://avalon2.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/modi.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name modi
              .portfolio__item__short Simple Promo page sketch to html project with fullpage scrolling
              a.portfolio__item__link(href="https://modi-html.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/wander.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Wanderbuild
              .portfolio__item__short Sketch to HTML with smooth barba.js transitions. Use hamburger menu to navigate across pages
              a.portfolio__item__link(href="https://wanderbuild.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
            
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/mashe.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Mashe
              .portfolio__item__short E-commerce sketch to html. Designed by FlAT12 studio
              a.portfolio__item__link(href="https://mashe.surge.sh/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/draw.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Draw&Go 
              .portfolio__item__short Sketch to html project for e-learning platform. Designed by PINKMAN
              a.portfolio__item__link(href="https://dpmango.github.io/draw/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru     
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/relonch.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name relonch
              .portfolio__item__short Mobile-only product landing with API integrations for Instagram promo campaign
              a.portfolio__item__link(href="http://relonch.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en     
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/simplyswitch.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name SimplySwitch 
              .portfolio__item__short Redesign project for sales funnel. The prototype is interactive (click steps to process)
              a.portfolio__item__link(href="https://dpmango.github.io/simplyswitch/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en   
          
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/locumrocket.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name LocumRocket 
              .portfolio__item__short Prototyping, Design and front-end development for startup for freelance clinical work
              a.portfolio__item__link(href="http://locumrocket.com" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-en 
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/sole.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Sole fitness
              .portfolio__item__short E-commerce project. Front-end development from .sketch assets
              a.portfolio__item__link(href="https://dpmango.github.io/sole" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/tattoo.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Tattoo Mania
              .portfolio__item__short Frontend development from .sketch files for Moscow-based Tattoo saloon with 20yrs history
              a.portfolio__item__link(href="https://tattoo.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/rocketbee.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Rocket Bee
              .portfolio__item__short Sketch to html Front-end development
              a.portfolio__item__link(href="https://rocketbee.surge.sh" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru    
          
          // next 4
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/excellance.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Excellance 
              .portfolio__item__short Sketch to html e-commerce project for the premium cosmetics brand.
              a.portfolio__item__link(href="https://dpmango.github.io/excellance/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/roof.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Roof
              .portfolio__item__short Corporate site front-end development. Full-page based homepage and nice navigation idea
              a.portfolio__item__link(href="https://roof.surge.sh/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/polis.jpg").img-responsive.logo-portfolio
            .portfolio__item__desc
              .portfolio__item__name POLIS812
              .portfolio__item__short Online insurance and tour operator website redesign
              a.portfolio__item__link(href="https://polis812.ru/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/skvot.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Skvot
              .portfolio__item__short E-commerce psd to html for a leading board-shops business
              a.portfolio__item__link(href="https://skvot.surge.sh" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          
          // next 4
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/coffee.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Laboratoria coffee
              .portfolio__item__short Sketch to html corporate landing with fullpage section scroll and animations
              a.portfolio__item__link(href="https://coffee-lab.surge.sh/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/laso.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Laso Health
              .portfolio__item__short Design and development - homepage + search results. Project is in process
              a.portfolio__item__link(href="https://dpmango.github.io/lasohealth/src/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/mpa.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Matt Porter Supplements
              .portfolio__item__short Landing page front-end development
              a.portfolio__item__link(href="https://dpmango.github.io/mpa" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/bitfire.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name BitFire
              .portfolio__item__short Landing page Design and developemnt for the cloud mining platform 
              a.portfolio__item__link(href="https://dpmango.github.io/bitfire/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
            
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/itboat.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name ItBoat
              .portfolio__item__short E-journal platform static front-end develpment
              a.portfolio__item__link(href="https://itboat-journal.surge.sh/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/brightkite.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name BrightKite
              .portfolio__item__short Psd to html together with an erb templates integration on Ruby on Rails
              a.portfolio__item__link(href="https://brightkite.com" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="en")
            img(src="images/portfolio/chat.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Chat app prototype
              .portfolio__item__short "Slack like" chat interactive prototype
              a.portfolio__item__link(href="https://dpmango.github.io/footprint-chat/dist/" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-en
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/mebius.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Mebius - city quests
              .portfolio__item__short Front-end developement
              a.portfolio__item__link(href="https://dpmango.github.io/mebius" target="_blank")
                span() Check live
                i.icon-github
              .portfolio__item__lang
                i.ico.ico-ru
                  
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/ali.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name AliWorld
              .portfolio__item__short PSD to html for media project
              a.portfolio__item__link(href="https://aliworld.surge.sh" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru        
          .portfolio__item(data-category="code" data-language="ru")
            img(src="images/portfolio/ortis.jpg").img-responsive
            .portfolio__item__desc
              .portfolio__item__name Ortis 
              .portfolio__item__short Sketch to html e-commerce project
              a.portfolio__item__link(href="https://ortis.surge.sh/" target="_blank")
                span() Check live
                i.icon-link-external
              .portfolio__item__lang
                i.ico.ico-ru

      // Contact
      .contact#sectionContact
        .contact__top
          <svg viewBox="0 0 3387 1270">
            <path id="planePath" class="planePath" d="M-226 626c439,4 636,-213 934,-225 755,-31 602,769 1334,658 562,-86 668,-698 266,-908 -401,-210 -893,189 -632,630 260,441 747,121 1051,91 360,-36 889,179 889,179" />
            <g id="plane">
              <polygon class="fil1" points="-141,-10 199,0 -198,-72 -188,-61 -171,-57 -184,-57 " />
              <polygon class="fil2" points="199,0 -141,-10 -163,63 -123,9 " />
              <polygon class="fil3" points="-95,39 -113,32 -123,9 -163,63 -105,53 -108,45 -87,48 -90,45 -103,41 -94,41 " />
              <path class="fil4" d="M-87 48l-21 -3 3 8 19 -4 -1 -1zm-26 -16l18 7 -2 -1 32 -7 -29 1 11 -4 -24 -1 -16 -18 10 23zm10 9l13 4 -4 -4 -9 0z" />
              <polygon class="fil1" points="-83,28 -94,32 -65,31 -97,38 -86,49 -67,70 199,0 -123,9 -107,27 " />
            </g>
            <animateMotion xlink:href="#plane" dur="5s" repeatCount="indefinite" rotate="auto">
              <mpath xlink:href="#planePath" />
            </animateMotion>
          </svg>

          .heading.heading--contact
            .heading__back() Drop me a line
          
        .contact__wrapper
          .contact__direct
            a.contact__direct__item(href="skype:khmelevskoysergey?chat" target="_blank")
              i.icon.icon-skype
              span khmelevskoysergey
            a.contact__direct__item(href="https://telegram.me/khmelevskoy_s" target="_blank")
              i.icon.icon-telegram
              span khmelevskoy_s
            a.contact__direct__item(href="mailto:sergey@khmelevskoy.co" target="_blank")
              i.icon.icon-mail4
              span sergey@khmelevskoy.co
            a.contact__direct__item(href="tel:+79850006296" target="_blank")
              i.icon.icon-phone-square
              span() +7 (985) 000-62-96


      // Footer
      .footer
        .footer__copy
          | © Sergey Khmelevskoy. <span>2.4.1</span>
        .footer__credentials
          i.ico.ico-available
          | Currently availalbe
      
      // Banner
      a(href='https://www.upwork.com/fl/sergeykhmelevskoy' target='_blank').banner
        i.ico.ico-upwork
        span TOP RATED
              

    //build:js js/main.min.js
    script(src="/js/lib/jquery-3.1.1.min.js")
    script(src="/js/lib/debounce.js")
    script(src="/js/lib/parallax.min.js")
    script(src="/js/lib/scrollbar.min.js")
    script(src="/js/main.js")
    //endbuild

    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter39188055 = new Ya.Metrika({
      id:39188055,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/39188055', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter
